@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

//Fonts
$font-family: 'Bai Jamjuree',
sans-serif;

//Breakpoints
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1440px;
$screen-rwd: 1660px;

//Colors

$StrongCyan:hsl(171, 66%, 44%);
$LightBlue:hsl(233, 100%, 69%);
$DarkGrayishBlue:hsl(210, 10%, 33%);
$GrayishBlue:hsl(201, 11%, 66%);